body {
    font-family: Arial, Helvetica, sans-serif;
}

header.title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 50px;*/
}

div#SASWEBCALC {
    text-align: left;
}

div.instrument {
    width: auto;
    border: black 1px;
    margin: 2px;
}

div.canvas {
    width: 100%;
    height: auto;
}

.slider {
    vertical-align: middle;
}

div.instrument-section {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
}
