:root, body {
    font-family: Arial, Helvetica, sans-serif;
}

header.title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 50px;*/
}

div#SASWEBCALC {
    text-align: left;
}

div.instrument {
    width: auto;
    border: black 1px;
    margin: 2px;
}

.slider {
    vertical-align: middle;
}

div.instrument-section {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

input.fixed-width-input {
    width: 10em;
}

#sasCalc1DChart, #sasCalc2DChart {
    width: 49%;
    float: left;
}

div.parameter > div, span.parameter, ul.parameter > li {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
}
