:root, body {
    font-family: Arial, Helvetica, sans-serif;
}

header.title {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*height: 50px;*/
}

div#SASWEBCALC {
    text-align: left;
}

div.instrument {
    width: auto;
    border: black 1px;
    margin: 2px;
}

.slider {
    vertical-align: middle;
}

div.instrument-section {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

input.fixed-width-input {
    width: 10em;
}

#results {
    clear: both;
    max-height: 250px;
}

#sasCalc1DChart, #sasCalc2DChart, #status {
    width: 33%;
    float: left;
    border: black 1px solid;
}

#status {
    overflow-y: auto;
}

div.freezer {
    float: left;
    clear: both;
    margin-bottom: 5px;
}

div.parameter > div, span.parameter, ul.parameter > li {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
}

div.section_subheader {
    text-decoration: none;
    margin: 1em 20px;
}

button.top-level-button {
    height: 30px;
    width: 30px;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 50%;
    margin-left: 1em;
}
div.calculatingText{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    color: #01a514;
    font-size: 22px;
}
#calculating:after, #calculating:before {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 750ms infinite;
  animation: ellipsis steps(4,end) 750ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
#calculating {
    text-align: center;
    margin: 1em 20px;
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}