    body {
        touch-action: manipulation;
        margin: 0px;
        padding: 0;
    }
    
    header.top {
        font-family: 'Source Sans Pro', sans-serif;
        background: #1574b3;
    }

    div.section-header {
        background: linear-gradient(to right,rgba(0,0,0,0),#12659c);
    }

    .section-header__main {
        padding-right: 11.2px;
        padding-right: 0.7rem;
        padding-left: 11.2px;
        padding-left: 0.7rem;
    }

    .section-header__main {
        max-width: 1200px;
        margin: 0 auto;
        padding-right: 27.2px;
        padding-right: 1.7rem;
        padding-left: 27.2px;
        padding-left: 1.7rem;
        position: relative;
        color: white;
    }

    h1.section-header__title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-top: 1.25rem;
        padding-bottom: 20px;
        padding-bottom: 1.25rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
    }

    h1.section-header__title a {
        text-decoration: none;
        color: white;
    }

    @media screen and (min-width: 1200px) {
        div.centered-column {
            min-width: 1200px;
            margin: auto;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1200px) {
        div.centered-column {
            min-width: 450px;
            max-width: 900px;
            margin: auto;
        }
    }

    @media screen and (min-width: 0px) and (max-width: 600px) {
        div.centered-column {
            min-width: 250px;
            max-width: 600px;
            margin: auto;
        }
    }
