<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SASCalc Web App</title>

    <!--START   imports -->

    <!--import css files -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <link rel="shortcut icon" href="https://www.nist.gov/sites/all/themes/nist_style/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/drupal_header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}" />
    <!-- import online files -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.2/math.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ice/3.7.1/Ice.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ice/3.7.1/Glacier2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ice/3.7.1/IceStorm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ice/3.7.1/IceGrid.min.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/data.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/file.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/system.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/devices.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/console.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/dryrun.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/exceptions.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/nice.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/events.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/experiment.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/queue.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/sampleAlignment.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/generated/clientapi.js"></script>
    <script src="http://nicedata.ncnr.nist.gov/niceweb/nicejs/async_connect_zeroc.js"></script>
    <!--
    <script src="js/gamma_incomplete.js"></script>
    -->
    <!-- START     Import javascript files -->
    <script src="{{ url_for('static', filename='js/call_python.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nice_connection.js') }}"></script>
    <script src="{{ url_for('static', filename='js/constants.js') }}"></script>
    <script src="{{ url_for('static', filename='js/persistant_state.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slicer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/models.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- END    Imports -->
</head>

<!--
    TODO: Populate instruments dynamically
    TODO: Tie Model Selector to sasmodels
    TODO: Copy https://ncnr.nist.gov/staff/kkrycka/webcalc/calculate.html work into model selector
-->

<body onload="loadpage();">
    <header class="top">
        <div class="section-header">
            <div class="section-header__main">
                <h1 class="section-header__title"><a href="https://www.nist.gov/ncnr">NIST Center for Neutron Research</a></h1>

               <!-- TODO c      Comment out before push -->
<!--                &lt;!&ndash; START      Comment out before pushes: for debugging only&ndash;&gt;-->
<!--                <label for="debug_text">Debug:</label>-->
<!--                <p id="debug_text" style="display: inline"></p>-->
<!--                &lt;!&ndash; Test code:         document.getElementById('debug_text').textContent += " TestCalcModel1"&ndash;&gt;-->
<!--                &lt;!&ndash; END      Comment out before pushes: for debugging only&ndash;&gt;-->

            </div>
        </div>
    </header>
    <header class="title"><h1>SASCALC on the Web</h1></header>
    <div class="content">
        <div class="centered-column" id="preamble">
            <div id="SASWEBCALC">
                <form target="#">
                    <div class="instrument-section" title="Choose the instrument you plan to use.">
                        <label for="instrumentSelector">Instrument: </label>
                        <select id="instrumentSelector">
                            <option value="" selected disabled hidden>Choose your setting</option>
                            <option value="qrange">User-Defined Q-Range and Resolutions</option>
                            <option value="ngb30">NGB 30m SANS</option>
                            <option value="ng7">NG7 SANS</option>
                            <option value="ngb10">NGB 10m SANS</option>
                            <!-- TODO Implement VSANS Instrument                             -->
                            <option value="vsans">VSANS</option>
                        </select>
                        <label id="modelLabel" for="model" style="display: none">Model: </label>
                        <select id="model" style="display: none">
                        </select>
                        <label id="averagingTypeLabel" for="averagingType" style="display: none">Averaging Method: </label>
                        <select id="averagingType" style="display: none">
                            <option value="circular" selected>Circular</option>
                            <option value="sector">Sector</option>
                            <option value="rectangular">Rectangular</option>
                            <!--
            <option value="annular">Annular</option>
            <option value="elliptical">Elliptical</option>
            -->
                        </select>
                    </div><!-- End of interment selection-->

                    <!-- Appears for Sector and Rectangular Averaging Methods -->
                    <div class="instrument-section" id="modelAndAveragingParams">
                        <h3>Averaging and Model Parameters:</h3>
                        <div id="averagingParams">
                            <label for="phi" style="display: none">Orientation Angle (degrees): </label>
                            <input type="number" min="0" max="90" value="0" id="phi" title="" style="display: none" />
                            <label for="dPhi" style="display: none">Azimuthal Range (degrees): </label>
                            <input type="number" min="0" max="45" value="0" id="dPhi" title="" style="display: none" />
                            <label for="detectorSections" style="display: none">Detector Sections: </label>
                            <select id="detectorSections" style="display: none">
                                <option value="both" selected>Entire Detector</option>
                                <option value="left" selected>Left Only</option>
                                <option value="right" selected>Right Only</option>
                            </select>
                            <label for="qCenter" style="display: none">Q Center of Annulus (&#8491;<sup>-1</sup>): </label>
                            <input type="number" min="0.00" max="1.0" value="0.10" step="0.01" id="qCenter" title="" style="display: none" />
                            <label for="qWidth" style="display: none">Q Width (&#8491;<sup>-1</sup>): </label>
                            <input type="number" min="0.00" max="1.0" value="0.05" step="0.01" id="qWidth" title="" style="display: none" />
                            <label for="aspectRatio" style="display: none">Ellipse Aspect Ratio: </label>
                            <input type="number" min="0" max="1" value="1" step="0.1" id="aspectRatio" title="" style="display: none" />
                        </div>
                        <div class="instrument-section" id="modelParams" style="display: none"></div>
                    </div>


                    <!-- NGB 30m SANS -->
                    <div id="ngb30" style="display: none">
                        <div id="ngb30Sample" class="instrument-section" title="Sample location: Choose chamber for standard setups and Huber for larger equipment">
                            <h3>Sample Space:</h3>
                            <label for="ngb30SampleTable">Sample Table</label>
                            <select id="ngb30SampleTable">
                                <option selected value="Chamber">Chamber</option>
                                <option value="Huber">Huber</option>
                            </select>
                        </div>
                        <div id="ngb30Wavelength" class="instrument-section">
                            <h3>Neutron Wavelength:</h3>
                            <label for="ngb30WavelengthInput">&lambda; (&#8491;): </label>
                            <input type="number" min="3" max="20" value="6" id="ngb30WavelengthInput" title="" />
                            <label for="ngb30WavelengthSpread">&Delta;&lambda;/&lambda; (%)</label>
                            <select id="ngb30WavelengthSpread">
                                <option value="9.7">9.7</option>
                                <option value="12.1">12.1</option>
                                <option value="13.8">13.8</option>
                                <option value="16.8">16.8</option>
                                <option value="25.6">25.6</option>
                            </select>
                            <label for="ngb30BeamFlux">Beam Flux (n-cm<sup>-1</sup>-sec<sup>-1</sup>):</label>
                            <input type="number" id="ngb30BeamFlux" class="fixed-width-input" disabled />
                            <label for="ngb30FigureOfMerit">Figure of Merit:</label>
                            <input type="number" id="ngb30FigureOfMerit" class="fixed-width-input" disabled />
                            <label for="ngb30Attenuators">Attenuators:</label>
                            <input type="number" id="ngb30Attenuators" class="fixed-width-input" disabled />
                            <label for="ngb30AttenuationFactor">Attenuation Factor:</label>
                            <input type="number" id="ngb30AttenuationFactor" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb30Collimation" class="instrument-section">
                            <h3>Collimation:</h3>
                            <label for="ngb30GuideConfig">Guides: </label>
                            <select id="ngb30GuideConfig">
                                <option selected value="0">0 Guides</option>
                                <option value="1">1 Guide</option>
                                <option value="2">2 Guides</option>
                                <option value="3">3 Guides</option>
                                <option value="4">4 Guides</option>
                                <option value="5">5 Guides</option>
                                <option value="6">6 Guides</option>
                                <option value="7">7 Guides</option>
                                <option value="8">8 Guides</option>
                                <option value="LENS">LENS</option>
                            </select>
                            <label for="ngb30SourceAperture">Source Aperture: </label>
                            <select id="ngb30SourceAperture">
                                <option value="1.43">1.43 cm</option>
                                <option value="2.54">2.54 cm</option>
                                <option value="3.81">3.81 cm</option>
                                <option disabled hidden value="5.08">5.08 cm</option>
                            </select>
                            <label for="ngb30SampleAperture">Sample Aperture: </label>
                            <select id="ngb30SampleAperture">
                                <option value="0.125">0.125"</option>
                                <option value="0.25">0.25"</option>
                                <option value="0.375">0.375"</option>
                                <option selected value="0.5">0.5"</option>
                                <option value="0.625">0.625"</option>
                                <option value="0.75">0.75"</option>
                                <option value="0.875">0.875"</option>
                                <option value="1.00">1.00"</option>
                                <option value="Custom">Custom</option>
                            </select>
                            <label for="ngb30CustomAperture" id="ngb30CustomApertureLabel" style="display:none">Aperture Diameter (cm): </label>
                            <input type="number" min="0" max="25.4" id="ngb30CustomAperture" style="display:none" />
                            <label for="ngb30SSD">Source-to-Sample Distance (cm): </label>
                            <input type="number" id="ngb30SSD" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb30Detector " class="slidecontainer instrument-section">
                            <h3>Detector Settings:</h3>
                            <label for="ngb30SDDInputBox">Detector Distance (cm):</label>
                            <input type="number" min="130" max="1320" value="133" id="ngb30SDDInputBox" />
                            <input type="range" min="130" max="1320" value="133" class="slider" list="ngb30SDDDefaults" id="ngb30SDDSliderBar" />
                            <datalist id="ngb30SDDDefaults">
                                <option value="133" label="133"></option>
                                <option value="400" label="400"></option>
                                <option value="1317" label="1317"></option>
                            </datalist>
                            <label for="ngb30OffsetInputBox">Detector Offset (cm):</label>
                            <input type="number" min="0" max="25" value="0" id="ngb30OffsetInputBox" />
                            <input type="range" min="0" max="25" value="0" class="slider" list="ngb30OffsetDefaults" id="ngb30OffsetSliderBar" />
                            <datalist id="ngb30OffsetDefaults">
                                <option value="0" label="0"></option>
                                <option value="5" label="5"></option>
                                <option value="10" label="10"></option>
                                <option value="15" label="15"></option>
                                <option value="20" label="20"></option>
                                <option value="25" label="25"></option>
                            </datalist>
                            <label for="ngb30SDD">Sample-to-Detector Distance (cm): </label>
                            <input type="number" id="ngb30SDD" class="fixed-width-input" disabled />
                            <label for="ngb30BeamSize">Beam Diameter (cm): </label>
                            <input type="number" id="ngb30BeamSize" class="fixed-width-input" disabled />
                            <label for="ngb30BeamStopSize">Beam Stop Diameter (inch): </label>
                            <input type="number" id="ngb30BeamStopSize" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb30QRange" class="instrument-section">
                            <h3>Q Range:</h3>
                            <label for="ngb30MinimumQ">Minimum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb30MinimumQ" class="fixed-width-input" disabled />
                            <label for="ngb30MaximumQ">Maximum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb30MaximumQ" class="fixed-width-input" disabled />
                            <label for="ngb30MaximumVerticalQ">Maximum Vertical Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb30MaximumVerticalQ" class="fixed-width-input" disabled />
                            <label for="ngb30MaximumHorizontalQ">Maximum Horizontal Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb30MaximumHorizontalQ" class="fixed-width-input" disabled />
                        </div>
                    </div>

                    <!-- NG7 30m SANS -->
                    <div id="ng7" style="display: none">
                        <div id="ng7Sample" class="instrument-section" title="Sample location: Choose chamber for standard setups and Huber for larger equipment">
                            <h3>Sample Space:</h3>
                            <label for="ng7SampleTable">Sample Table</label>
                            <select id="ng7SampleTable">
                                <option selected value="Chamber">Chamber</option>
                                <option value="Huber">Huber</option>
                            </select>
                        </div>
                        <div id="ng7Wavelength" class="instrument-section">
                            <h3>Neutron Wavelength:</h3>
                            <label for="ng7WavelengthInput">&lambda; (&#8491;): </label>
                            <input type="number" min="4" max="20" value="6" id="ng7WavelengthInput" title="" />
                            <label for="ng7WavelengthSpread">&Delta;&lambda;/&lambda; (%)</label>
                            <select id="ng7WavelengthSpread">
                                <option value="9.7">9.7</option>
                                <option selected value="11.5">11.5</option>
                                <option value="13.9">13.9</option>
                                <option value="22.1">22.1</option>
                            </select>
                            <label for="ng7BeamFlux">Beam Flux (n-cm<sup>-1</sup>-sec<sup>-1</sup>):</label>
                            <input type="number" id="ng7BeamFlux" class="fixed-width-input" disabled />
                            <label for="ng7FigureOfMerit">Figure of Merit:</label>
                            <input type="number" id="ng7FigureOfMerit" class="fixed-width-input" disabled />
                            <label for="ng7Attenuators">Attenuators:</label>
                            <input type="number" id="ng7Attenuators" class="fixed-width-input" disabled />
                            <label for="ng7AttenuationFactor">Attenuation Factor:</label>
                            <input type="number" id="ng7AttenuationFactor" class="fixed-width-input" disabled />
                        </div>
                        <div id="ng7Collimation" class="instrument-section">
                            <h3>Collimation:</h3>
                            <label for="ng7GuideConfig">Guides: </label>
                            <select id="ng7GuideConfig">
                                <option selected value="0">0 Guides</option>
                                <option value="1">1 Guide</option>
                                <option value="2">2 Guides</option>
                                <option value="3">3 Guides</option>
                                <option value="4">4 Guides</option>
                                <option value="5">5 Guides</option>
                                <option value="6">6 Guides</option>
                                <option value="7">7 Guides</option>
                                <option value="8">8 Guides</option>
                                <option value="LENS">LENS</option>
                            </select>
                            <label for="ng7SourceAperture">Source Aperture: </label>
                            <select id="ng7SourceAperture">
                                <option value="1.43">1.43 cm</option>
                                <option value="2.54">2.54 cm</option>
                                <option value="3.81">3.81 cm</option>
                                <option disabled hidden value="5.08">5.08 cm</option>
                            </select>
                            <label for="ng7SampleAperture">Sample Aperture: </label>
                            <select id="ng7SampleAperture">
                                <option value="0.125">0.125"</option>
                                <option value="0.25">0.25"</option>
                                <option value="0.375">0.375"</option>
                                <option selected value="0.5">0.5"</option>
                                <option value="0.625">0.625"</option>
                                <option value="0.75">0.75"</option>
                                <option value="0.875">0.875"</option>
                                <option value="1.00">1.00"</option>
                                <option value="Custom">Custom</option>
                            </select>
                            <label for="ng7CustomAperture" id="ng7CustomApertureLabel" style="display:none">Aperture Diameter (cm): </label>
                            <input type="number" min="0" max="25.4" id="ng7CustomAperture" style="display:none" />
                            <label for="ng7SSD">Source-to-Sample Distance (cm): </label>
                            <input type="number" id="ng7SSD" class="fixed-width-input" disabled />
                        </div>
                        <div id="ng7Detector " class="slidecontainer instrument-section">
                            <h3>Detector Settings:</h3>
                            <label for="ng7SDDInputBox">Detector Distance (cm):</label>
                            <input type="number" min="90" max="1530" value="100" id="ng7SDDInputBox" />
                            <input type="range" min="90" max="1530" value="100" class="slider" list="ng7SDDDefaults" id="ng7SDDSliderBar" />
                            <datalist id="ng7SDDDefaults">
                                <option value="100" label="100"></option>
                                <option value="400" label="400"></option>
                                <option value="1300" label="1300"></option>
                                <option value="1530" label="1530"></option>
                            </datalist>
                            <label for="ng7OffsetInputBox">Detector Offset (cm):</label>
                            <input type="number" min="0" max="25" value="0" id="ng7OffsetInputBox" />
                            <input type="range" min="0" max="25" value="0" class="slider" list="ng7OffsetDefaults" id="ng7OffsetSliderBar" />
                            <datalist id="ng7OffsetDefaults">
                                <option value="0" label="0"></option>
                                <option value="5" label="5"></option>
                                <option value="10" label="10"></option>
                                <option value="15" label="15"></option>
                                <option value="20" label="20"></option>
                                <option value="25" label="25"></option>
                            </datalist>
                            <label for="ng7SDD">Sample-to-Detector Distance (cm): </label>
                            <input type="number" id="ng7SDD" class="fixed-width-input" disabled />
                            <label for="ng7BeamSize">Beam Diameter (cm): </label>
                            <input type="number" id="ng7BeamSize" class="fixed-width-input" disabled />
                            <label for="ng7BeamStopSize">Beam Stop Diameter (inch): </label>
                            <input type="number" id="ng7BeamStopSize" class="fixed-width-input" disabled />
                        </div>
                        <div id="ng7QRange" class="instrument-section">
                            <h3>Q Range:</h3>
                            <label for="ng7MinimumQ">Minimum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ng7MinimumQ" class="fixed-width-input" disabled />
                            <label for="ng7MaximumQ">Maximum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ng7MaximumQ" class="fixed-width-input" disabled />
                            <label for="ng7MaximumVerticalQ">Maximum Vertical Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ng7MaximumVerticalQ" class="fixed-width-input" disabled />
                            <label for="ng7MaximumHorizontalQ">Maximum Horizontal Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ng7MaximumHorizontalQ" class="fixed-width-input" disabled />
                        </div>
                    </div>

                    <!-- NGB 10m SANS -->
                    <div id="ngb10" style="display: none">
                        <div id="ngb10Sample" class="instrument-section" title="Sample location: Choose chamber for standard setups and Huber for larger equipment">
                            <h3>Sample Space:</h3>
                            <label for="ngb10SampleTable">Sample Table</label>
                            <select id="ngb10SampleTable">
                                <option selected value="Chamber">Chamber</option>
                                <option value="Huber">Huber</option>
                            </select>
                        </div>
                        <div id="ngb10Wavelength" class="instrument-section">
                            <h3>Neutron Wavelength:</h3>
                            <label for="ngb10WavelengthInput">&lambda; (&#8491;): </label>
                            <input type="number" min="3.0" max="20" value="6" id="ngb10WavelengthInput" title="" />
                            <label for="ngb10WavelengthSpread">&Delta;&lambda;/&lambda; (%)</label>
                            <select id="ngb10WavelengthSpread">
                                <option value="9.2">9.2</option>
                                <option selected value="12.0">12.0</option>
                                <option value="14.0">14.0</option>
                                <option value="25.0">25.0</option>
                            </select>
                            <label for="ngb10BeamFlux">Beam Flux (n-cm<sup>-1</sup>-sec<sup>-1</sup>):</label>
                            <input type="number" id="ngb10BeamFlux" class="fixed-width-input" disabled />
                            <label for="ngb10FigureOfMerit">Figure of Merit:</label>
                            <input type="number" id="ngb10FigureOfMerit" class="fixed-width-input" disabled />
                            <label for="ngb10Attenuators">Attenuators:</label>
                            <input type="number" id="ngb10Attenuators" class="fixed-width-input" disabled />
                            <label for="ngb10AttenuationFactor">Attenuation Factor:</label>
                            <input type="number" id="ngb10AttenuationFactor" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb10Collimation" class="instrument-section">
                            <h3>Collimation:</h3>
                            <label for="ngb10GuideConfig">Guides: </label>
                            <select id="ngb10GuideConfig">
                                <option selected value="0">0 Guides</option>
                                <option value="1">1 Guide</option>
                                <option value="2">2 Guides</option>
                            </select>
                            <label for="ngb10SourceAperture">Source Aperture: </label>
                            <select id="ngb10SourceAperture">
                                <option value="1.3">1.3 cm</option>
                                <option value="2.5">2.5 cm</option>
                                <option value="3.8">3.8 cm</option>
                                <option disabled hidden value="5.0">5.0 cm</option>
                            </select>
                            <label for="ngb10SampleAperture">Sample Aperture: </label>
                            <select id="ngb10SampleAperture">
                                <option value="0.125">0.125"</option>
                                <option value="0.25">0.25"</option>
                                <option value="0.375">0.375"</option>
                                <option selected value="0.5">0.5"</option>
                                <option value="0.625">0.625"</option>
                                <option value="0.75">0.75"</option>
                                <option value="0.875">0.875"</option>
                                <option value="1.00">1.00"</option>
                                <option value="Custom">Custom</option>
                            </select>
                            <label for="ngb10CustomAperture" id="ngb10CustomApertureLabel" style="display:none">Aperture Diameter (cm): </label>
                            <input type="number" min="0" max="25.4" id="ngb10CustomAperture" style="display:none" />
                            <label for="ngb10SSD">Source-to-Sample Distance (cm): </label>
                            <input type="number" id="ngb10SSD" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb10Detector " class="slidecontainer instrument-section">
                            <h3>Detector Settings:</h3>
                            <label for="ngb10SDDInputBox">Detector Distance (cm):</label>
                            <input type="number" min="90" max="500" value="100" id="ngb10SDDInputBox" />
                            <input type="range" min="90" max="500" value="100" class="slider" list="ngb10SDDDefaults" id="ngb10SDDSliderBar" />
                            <datalist id="ngb10SDDDefaults">
                                <option value="100" label="100"></option>
                                <option value="500" label="500"></option>
                            </datalist>
                            <label for="ngb10OffsetInputBox">Detector Offset (cm):</label>
                            <input type="number" min="0" max="25" value="0" id="ngb10OffsetInputBox" />
                            <input type="range" min="0" max="25" value="0" class="slider" list="ngb10OffsetDefaults" id="ngb10OffsetSliderBar" />
                            <datalist id="ngb10OffsetDefaults">
                                <option value="0" label="0"></option>
                                <option value="5" label="5"></option>
                                <option value="10" label="10"></option>
                                <option value="15" label="15"></option>
                                <option value="20" label="20"></option>
                                <option value="25" label="25"></option>
                            </datalist>
                            <label for="ngb10SDD">Sample-to-Detector Distance (cm): </label>
                            <input type="number" id="ngb10SDD" class="fixed-width-input" disabled />
                            <label for="ngb10BeamSize">Beam Diameter (cm): </label>
                            <input type="number" id="ngb10BeamSize" class="fixed-width-input" disabled />
                            <label for="ngb10BeamStopSize">Beam Stop Diameter (inch): </label>
                            <input type="number" id="ngb10BeamStopSize" class="fixed-width-input" disabled />
                        </div>
                        <div id="ngb10QRange" class="instrument-section">
                            <h3>Q Range:</h3>
                            <label for="ngb10MinimumQ">Minimum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb10MinimumQ" class="fixed-width-input" disabled />
                            <label for="ngb10MaximumQ">Maximum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb10MaximumQ" class="fixed-width-input" disabled />
                            <label for="ngb10MaximumVerticalQ">Maximum Vertical Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb10MaximumVerticalQ" class="fixed-width-input" disabled />
                            <label for="ngb10MaximumHorizontalQ">Maximum Horizontal Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="ngb10MaximumHorizontalQ" class="fixed-width-input" disabled />
                        </div>
                    </div>

                    <!-- User-Defined Parameters -->
                    <div id="qrange" style="display: none">
                        <div id="qrangeWavelength" class="instrument-section">
                            <h3>Neutron Wavelength:</h3>
                            <label for="qrangeWavelengthInput">&lambda; (&#8491;): </label>
                            <input type="number" id="qrangeWavelengthInput" title="" />
                            <label for="qrangeWavelengthSpread">&Delta;&lambda;/&lambda; (%)</label>
                            <input type="number" id="qrangeWavelengthSpread" title="" />
                            <label for="qrangeBeamFlux">Beam Flux (n-cm<sup>-1</sup>-sec<sup>-1</sup>):</label>
                            <input type="number" id="qrangeBeamFlux" class="fixed-width-input" />
                            <label for="qrangeFigureOfMerit">Figure of Merit:</label>
                            <input type="number" id="qrangeFigureOfMerit" class="fixed-width-input" disabled />
                        </div>
                        <div id="qrangeCollimation" class="instrument-section">
                            <h3>Collimation:</h3>
                            <label for="qrangeSourceAperture">Source Aperture: </label>
                            <input type="number" min="0" id="qrangeSourceAperture" />
                            <label for="qrangeSampleAperture" id="qrangeCustomApertureLabel">Aperture Diameter (cm): </label>
                            <input type="number" min="0" id="qrangeSampleAperture" />
                            <label for="qrangeSSD">Source-to-Sample Distance (cm): </label>
                            <input type="number" id="qrangeSSD" class="fixed-width-input" />
                        </div>
                        <div id="qrangeDetector " class="slidecontainer instrument-section">
                            <h3>Detector Settings:</h3>
                            <label for="qrangeSDDInputBox">Detector Distance (cm):</label>
                            <input type="number" id="qrangeSDDInputBox" />
                            <label for="qrangeOffsetInputBox">Detector Offset (cm):</label>
                            <input type="number" value="0" id="qrangeOffsetInputBox" />
                            <label for="qrangeBeamSize">Beam Diameter (cm): </label>
                            <input type="number" id="qrangeBeamSize" class="fixed-width-input" disabled />
                        </div>
                        <div id="qrangeQRange" class="instrument-section">
                            <h3>Q Range:</h3>
                            <label for="qrangeMinimumQ">Minimum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="qrangeMinimumQ" class="fixed-width-input" />
                            <label for="qrangeMaximumQ">Maximum Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="qrangeMaximumQ" class="fixed-width-input" />
                            <label for="qrangeMaximumVerticalQ">Maximum Vertical Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="qrangeMaximumVerticalQ" class="fixed-width-input" />
                            <label for="qrangeMaximumHorizontalQ">Maximum Horizontal Q (&#8491;<sup>-1</sup>):</label>
                            <input type="number" id="qrangeMaximumHorizontalQ" class="fixed-width-input" />
                        </div>
                    </div>

                    <!-- VSANS -->
                    <div id="vsans" style="display: none">
                    </div>


                    <!-- Freeze and send to instrument -->
                    <div id="buttons" style="display: none">
                        <hr />
                        <button type="button" id="freezeButton">Freeze Current Calculation</button>
                        <button type="button" id="clearFrozenButton">Clear Frozen</button>
                        <input type="text" id="serverName" />
                        <button type="button" id="sendToNICE">Send to running NICE server</button>
                        <hr />
                    </div>


                    <!-- Chart for all instruments -->
                    <div id="sasCalcCharts">
                        <div class="chart" id="sasCalc1DChart"></div>
                        <div class="chart" id="sasCalc2DChart"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="centered-column" id="postscript">
        </div>
    </div>
</body>
</html>
